*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}
.drag-area{
    border: 5px dashed #ddd;
    height: 40px;
    width: 30px;
    border-radius: 5px;
}